<!DOCTYPE html>
<html>
<head>
<title>Crypto Pay</title>
<link rel="stylesheet" href="css/fontawesome/css/font-awesome.css" />
<link href="css/bootstrap.min.css"  rel="stylesheet"/>
<link href="css/style.css"  rel="stylesheet" />
</head>
<body>

  <!-- Loading Screen-->
  <div id="loader" class="splash" style="display: block">
    <div class="color-line"></div>
    <div class="splash-title">
      <h1>CryptoPay</h1>
      <p>Loading</p>
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Header -->

    <header>
        <div class="container-fluid p-0 m-0">
            <div class="row m-0 p-0">
                <div class="col-sm-12 p-0 m-0">
                    <div class="col-sm-4 float-left text-left museo_sans_rounded700 h3 logo mb-0">
                        <a href="#" target="_blank">
                            CryptoPay
                        </a>
                    </div>
                    <div class="col-sm-4 float-right text-right">
                        <nav role="navigation">
                            <div class="navbar-right mt-2">
                              <ul class="nav navbar-nav no-borders">     
                                <li>
                                  <a href="#" target="_blank">
                                    <span style="font-size: 12px;line-height: 20px;vertical-align: middle;color: #ffffff;">HELP</span>
                                    <span class="pe-7s-help1" style="vertical-align: middle;color: #fff; font-size: 18px;"></span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div>
    <div class="register-container">
          
    </div>
    <footer class="footer">
        <span class="float-right">
            Support: info@CryptoPay.com
        </span>
    </footer>
</div>

</body>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

<script src="js/dapp/ethClient.js"></script>

</body>
</html>