<!DOCTYPE html>
<html>
<head>
<title>Crypto Pay</title>
<link rel="stylesheet" href="css/fontawesome/css/font-awesome.css" />
<link href="css/bootstrap.min.css"  rel="stylesheet"/>
<link href="css/style.css"  rel="stylesheet" />
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>
<script src="js/fire.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="body_transactions">
      <!--[if lt IE 7]>
        <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <!-- Header -->
    <div class="container-fluid m-0 px-0 float-left">
        <div class="row m-0 p-0">
            <div class="transaction_super_main mx-auto p-0">
                <div class="transactions_main">
                    <div class="transactions_inr">
                        <div class="transact_info_block">
                            <div class="transact_info_left">
                                <span class="transact_price museo_sans_rounded500" id="transact_amount"></span>
                                <span class="transact_currency">USD</span>
                            </div>
                            <div class="transact_info_right">
                                <span class="transact_name" id="transact_name"></span>
                                <span class="transact_desc" id="transact_desc"></span>
                            </div>
                        </div>
                        <div class="transact_imp_block">

                            <!-- all the magic happens here -->
                           <!-- <div id="information_block" class="transact_information animated">
                                <div class="transact_info_title museo_sans_rounded500">
                                        Please enter the details
                                </div>
                                <div class="form_transaction">
                                        <form id="information_form">
                                                <div class="information_block">
                                                    <div class="transact_field">
                                                        <input type="text" id="fullname" placeholder="Full name"/>
                                                    </div>
                                                </div>
                                                <div class="information_block">
                                                        <div class="transact_field">
                                                            <input type="email" id="email" placeholder="Email" />
                                                        </div>
                                                </div>
                                                <div class="information_block">
                                                        <div class="transact_field">
                                                            <input type="number" id="phone" placeholder="Phone" />
                                                        </div>
                                                </div>
                                                <div class="information_block">
                                                        <div class="transact_field">
                                                            <textarea type="text" id="address" placeholder="Address"></textarea>
                                                        </div>
                                                </div>
                                                <div class="information_block text-center mt-20" style="    position: absolute;
                                                bottom: 0;
                                                width: 90%;">
                                                    <input type="submit" class="btn btn-crypto museo_sans_rounded500" value="Next" />
                                                </div>
                                        </form>
                                </div>
                            </div>  -->

                            <div id="payments_block" class="transact_payments_currency animated">

                                <div class="changeTokenBut">Change Token</div>

                                <div class="form_transaction">
                                        <form id="transact_form">
                                                <div class="transact_single_block">
                                                    <label class="museo_sans_rounded500">Amount</label>
                                                    <div class="transact_field">
                                                        <input type="text" id="transact_value" readonly/>
                                                    </div>
                                                </div>
                                                <div class="transact_single_block">
                                                        <label class="museo_sans_rounded500 payment_label">Address</label>
                                                        <div class="transact_field">
                                                                <input id="transact_address" type="text" readonly>
                                                                <span class="transact_copy" data-clipboard-target="#transact_address"><i class="fa fa-clone" aria-hidden="true"></i></span>
                                                        </div>
                                                        
                                                </div>

                                                <div class="transact_single_block text-center mt-2" style="    position: absolute;
                                                bottom: 0;
                                                width: 90%;">
                                                    <input type="submit" class="btn btn-crypto  float-left museo_sans_rounded500" value="Pay Now" onclick="InstaPay()" style="padding:12px 25px;
                                                    width: 47%;
                                                    font-size: 14px;" />
                                                    <button type="button" class="btn btn-crypto float-right museo_sans_rounded500" style="    padding: 12px 25px;
                                                    width: 47%;
                                                    font-size: 14px;" onclick="DeferredPay()">Pay By Loan</button>
                                                </div>
                                            </form>
                                </div>
                            </div>
                            
                            <div id="payment_status" class="transact_payments_status animated">


                                    <div class="transact_payment_status_title text-center museo_sans_rounded500 my-4">
                                            <a href="">Tx sent to Blockchain</a>
                                    </div>

                                    <div class="transact_status_report museo_sans_rounded700 text-center" id='check_trx'>
                                        <span class="pe-12x pe-7s-check text-crypto"></span>
                                            <div class="check_trx">Check Txn Status</div>
                                        </div>
                                    </div>

                            </div>

                            <!-- all the magic happens here -->
                        </div>
                    </div>
                </div>
                <div class="transaction_footer text-crypto text-center h5 mb-0 mt-3 float-left museo_sans_rounded700">
                    CryptoPay
                </div>
            </div>
        </div>
    </div>

    <div id="take_cdps_block" class="take_cdps_main_block">
            <div class="take_cdps_inr">
                <div class="take_cdps_inr_main">
                    <div class="take_cdp_title_block">
                        <span class="take_cdp_title float-left">Take Loan</span>
                        <span class="take_cdp_close float-right pe-7s-close"></span>
                    </div>
        
                    <div class="take_cdp_form">
                        <div class="take_cdp_error">
        
                        </div>
                        <form id="take_cdps">
                            <div class="take_cdp_single">
                                <label class="museo_sans_rounded500 payment_label">ETH as Collateral</label>
                                <input type="number" placeholder="ETH as Collateral" value="0" id="cdp_collatoral_name">
                            </div>
                            <div class="take_cdp_single">
                                    <label class="museo_sans_rounded500 payment_label">DAI against ETH</label>
                                    <input type="number" placeholder="DAI against ETH" value="0" id="cdp_dai_against_eth">
                            </div>
                            <div class="take_cdp_single">
                                    <label class="museo_sans_rounded500 payment_label">% of DAI</label>
                                    <input type="number" placeholder="% of DAI" value="33" id="cdp_perc_dai">
                            </div>
                            <div class="take_cdp_single">
                                    <label class="museo_sans_rounded500 payment_label">Balance ETH</label>
                                    <input type="number" id="cdp_bal_eth">
                            </div>
                            <div class="take_cdp_single">
                                    <input type="submit" value="Get Loan">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="coinsBox">
            <div class="coinsBoxesContainer">
                <div class="ethDaiOneLine">
                    <div class="ethBoxClick"></div>
                    <div class="selectCoinDetail">SELECT COIN TO PAY</div>
                    <div class="daiBoxClick"></div>
                </div>
                <div class="coinSelectContainer"></div>
            </div>
        </div>

    <script src="js/dapp/coinDetails.js"></script>
    <script src="js/dapp/kyberCoinAdd.js"></script>
    <script src="js/dapp/abi.js"></script>

    <script src="js/dapp/ethClient.js"></script>

    <script src="js/dapp/txDapp.js"></script>
    <script src="js/dapp/instantPay.js"></script>
    <script src="js/dapp/deferredPay.js"></script>

    <script src="js/transactions.js"></script>

</body>
</html>